.about {
    margin-bottom: 90px;

    &-wrap {
        display: flex;
    }

    &__left {
        flex: 0 0 460px;
        margin-right: 40px;

        p {
            font-size: 18px;
            font-weight: 400; 
            margin-bottom: 15px;
        }
    }

    &__right {
        width: 100%;
        display: flex;
        justify-content: space-between;

        img {
            width: 200px;
        }
    }
}