.contact {
    margin: 90px 0 50px 0;

    &-wrap {
        display: flex;
        background: url(/build/image/contact-back.svg) 0 0 no-repeat;
        background-size: cover;
        padding: 60px;
        padding: 60px 80px;
        min-height: 490px;
    }

    &__left {
        width: 100%;
        max-width: 300px;
        font-family: UniNeue,Arial,sans-serif!important; //wordpress important
   
        & p:first-child, & h1 {
            margin-top: 0;
        }
   
    }

    &__right {
        width: 100%;
    }
}