.formleft {

    &-wrap {
        position: relative;
        background: url('/build/image/form-backright.svg') 0 0 no-repeat;
        background-size: cover;
        padding: 70px 200px 68px 540px;
        margin: -305px 0 100px 0;
    }

    &__title {
        line-height: 46.88px;
    }

    &__desc {
        font-size: 18px;
        margin-bottom: 35px;
    }

    &__woman {
        position: absolute;
        bottom: 0;
        left: -95px;
        max-width: 576px;
    }
}

.formright {
    &-wrap {
        position: relative;
        background: url('/build/image/form-backleft.svg') 0 0 no-repeat;
        background-size: cover;
        padding: 70px 540px 69px 200px;
        margin: 0 0 -280px 0;
    }

    &__desc {
        font-size: 18px;
        margin-bottom: 35px;
    }

    &__woman {
        position: absolute;
        bottom: 15px;
        right: -16px;
        max-width: 576px;
    }
}