.formleft {

    &-wrap {
        position: relative;
        background: url('/build/image/form-backright.png') 0 0 no-repeat;
        background-size: cover;
        padding: 70px 200px 80px 540px;
        margin: -305px 0 100px 0;
    }

    &__desc {
        font-size: 18px;
        margin-bottom: 35px;
    }

    &__woman {
        position: absolute;
        top: -94px;
        left: -95px;
        max-width: 576px;
    }
}