/* Landscape tablets and medium desktops */
@media only screen and (min-width: 992px) {
    

}

/* Portrait tablets and small desktops */
@media only screen and (max-width: 991px) {   
    .header-wrap {
        flex-wrap: wrap;
    }
    
    .header__logo {
        flex: 0 0 30%;
        margin-right: 0;
    }

    .header__menu {
        flex: 0 0 70%; 
        text-align: end;
    }

    .header__menu-address, .header__menu-list {
        justify-content: flex-end; 
    }

    .header__menu-list li:last-child {
        margin-right: 0;
    }

    .header__contact {
        flex: 0 0 100%;
        text-align: center;
        padding-top: 10px;
        margin-left: 0;
    }


}

/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767px) {

    .burger__menu {
        display: block;
        position: relative;
        outline: 0;
        width: 36px;
        height: 33px;
        background: 0 0;
        border: 0;
        top: -2px;
        left: 0;
        cursor: pointer;
        z-index: 9999999;
    }
    
    .burger__menu span,
    .burger__menu span::after,
    .burger__menu span::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #645ab7;
        left: 0;
    }
    .burger__menu span::before {
        transform: translateY(12px);
        transition: 0.5s;
    }
    .burger__menu span::after {
        transform: translateY(-12px);
        transition: 0.5s;
    }
    
    .is-active span {
        height: 0;
    }
    .is-active span::before {
        transform: rotate(45deg);
    }
    .is-active span::after {
        transform: rotate(-45deg);
    }

    .header__menu-address, .header__menu-list {
        display: none;
    }

    .header-wrap {
        align-items: center;
    }

    .header__menu {
        padding: 0;
    }

    .header__menu-head {
        margin: 0;
    }


    .header__logo, .header__menu {
        flex: 0 0 50%;
    }

    .header__menu-footer {
        display: flex;
        justify-content: flex-end;
    }

    .header__menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: #1c1f30;
        visibility: hidden;
        opacity: 0;
        z-index: 9999999;
        transform: translateX(-100%);
        transition: visibility .5s cubic-bezier(.62,.28,.23,.99),opacity .5s cubic-bezier(.62,.28,.23,.99),transform .5s cubic-bezier(.62,.28,.23,.99),-webkit-transform .5s cubic-bezier(.62,.28,.23,.99);
    }

    .show-menu {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    
    .header__menu-item {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .header__menu-link {
        color: #fff;
    }

    .active .header__menu-link::before, .header__menu-link:hover::before {
        background-color: #fff;
    }

}

/* Portrait phones and smaller */
@media only screen and (max-width: 480px) {

}

/* Iphone 5 */
@media only screen and (max-width: 320px) {

}