/* Landscape tablets and medium desktops */
@media only screen and (max-width: 1280px) {
    .hero__image {
        right: 0;
    }

    .formleft__woman {
        position: absolute;
        bottom: 0;
        left: -95px;
        max-width: 576px;
    }

    .specialist__content-before {
        right: -33px;
    }

}

@media only screen and (max-width: 1200px) {
    .formleft-wrap {
        background: #fff;
        border-radius: 15px;
        padding: 70px 50px 68px 540px;
        box-shadow: 0 0 10px 5px rgb(221, 221, 221);
    }

    .formright-wrap {
        background: #fff;
        border-radius: 15px;
        padding: 70px 540px 68px 50px;
        box-shadow: 0 0 10px 5px rgb(221, 221, 221);
    }

    .formright__woman {
        bottom: -1px;
    }

    .contact-wrap {
        border-radius: 10px;
        background: unset;
        min-height: auto;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
    }
}

@media only screen and (max-width: 1100px) {
    .advantage__title {
        color: #0a0d1d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        padding: 0 150px;
        margin-bottom: 10px;
    }


    
}

/* Portrait tablets and small desktops */
@media only screen and (max-width: 991px) {   
    .header-wrap {
        flex-wrap: wrap;
    }
    
    .header__logo {
        flex: 0 0 30%;
        margin-right: 0;
    }

    .header__menu {
        flex: 0 0 70%; 
        text-align: end;
    }

    .header__menu-address, .header__menu-list {
        justify-content: flex-end; 
    }

    .header__menu-list li:last-child {
        margin-right: 0;
    }

    .header__contact {
        flex: 0 0 100%;
        text-align: center;
        padding-top: 10px;
        margin-left: 0;
    }

    .hero {
        top: -185px;
    }

    .hero__image {
        max-width: 480px;
    }

    .advantage {
        margin-top: -245px;
    }

    .advantage__title {
        padding: 0;
        margin-bottom: 25px;
    }

    .formleft-wrap {
        padding: 30px 20px 30px 400px;
    }

    .formright-wrap {
        padding: 30px 460px 30px 20px;
    }

    .formleft__title,  .formright__title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .formleft__woman {
        max-width: 465px;
    }

    .formright__woman {
        max-width: 465px;
    }

    .services--uslugi {
        top: -185px;
        padding-top: 220px;
    }

    .reviews--uslugi {
        margin-top: -180px;
    }

    .reviews--contentnonemargin {
        margin-top: 0;
    }

    .specialist__content {
        padding: 30px 50px 30px 30px;
    }


}

@media only screen and (max-width: 920px) {  
    .hero-wrap {
        padding: 295px 0 100px 0;
    }

    .hero__title {
        font-size: 43px;
    }

    .advantage-wrap {
        padding: 55px 10px 85px 10px;
    }

    .about-wrap {
        flex-direction: column;
    }

    .about__left  {
        flex: 0 0 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .about {
        margin-bottom: 40px;
    }

    .services {
        padding-top: 20px;
    }

    .services--uslugi {
        padding-top: 220px;
    }

    .swiper-button-next, .swiper-button-prev {
        width: 30px;
        height: 30px;
    }

    .services-single__menu {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .services-single__menu-item  {
        flex: 0 0 45%; 
    }

    .services-single__right {
        height: 100%;
        padding: 30px 0 0 0;
        margin: 0 0px 10px 10px;
        overflow-y: hidden;
    }

    .services-single__left {
        max-width: 100%;
        height: 265px;
        margin-bottom: 40px;
    }

    .services-single__wrap {
        flex-direction: column;
    }

    .contact-wrap {
        flex-direction: column;
        padding: 30px;
    }

}

/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767px) {

    .burger__menu {
        display: block;
        position: relative;
        outline: 0;
        width: 36px;
        height: 33px;
        background: 0 0;
        border: 0;
        top: -2px;
        left: 0;
        cursor: pointer;
        z-index: 9999999;
    }
    
    .burger__menu span,
    .burger__menu span::after,
    .burger__menu span::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #645ab7;
        left: 0;
    }
    .burger__menu span::before {
        transform: translateY(12px);
        transition: 0.5s;
    }
    .burger__menu span::after {
        transform: translateY(-12px);
        transition: 0.5s;
    }
    
    .is-active span {
        height: 0;
    }
    .is-active span::before {
        transform: rotate(45deg);
    }
    .is-active span::after {
        transform: rotate(-45deg);
    }

    .header__menu-address, .header__menu-list {
        display: none;
    }

    .header-wrap {
        align-items: center;
    }

    .header__menu {
        padding: 0;
    }

    .header__menu-head {
        margin: 0;
    }


    .header__logo, .header__menu {
        flex: 0 0 50%;
    }

    .header__menu-footer {
        display: flex;
        justify-content: flex-end;
    }

    .header__menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: #1c1f30;
        visibility: hidden;
        opacity: 0;
        z-index: 9999999;
        transform: translateX(-100%);
        transition: visibility .5s cubic-bezier(.62,.28,.23,.99),opacity .5s cubic-bezier(.62,.28,.23,.99),transform .5s cubic-bezier(.62,.28,.23,.99),-webkit-transform .5s cubic-bezier(.62,.28,.23,.99);
    }

    .show-menu {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    
    .header__menu-item {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .header__menu-link {
        color: #fff;
    }

    .active .header__menu-link::before, .header__menu-link:hover::before {
        background-color: #fff;
    }

    .advantage {
        margin-top: -280px;
        margin-bottom: 0;
    }

    .advantage-wrap {
        padding: 80px 10px 85px 10px;
    }

    .advantage__item {
        flex: 0 0 50%;
        margin-bottom: 20px;
    }

    .services__item {
        flex: 0 0 48%;
    }

    .services {
        padding-bottom: 0;
    }

    .formleft {
        margin-bottom: 40px;
    }
    
    .formleft-wrap {
        background: #fff;
        padding: 20px;
        margin: 0;
        border-radius: 15px;
        text-align: center;
    }

    .formright-wrap {
        background: #fff;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
    }

    .formleft__title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .formleft__desc, .formright__desc {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .formleft__woman, .formright__woman {
        display: none;
    }


    .specialist__content {
        flex-direction: column;
    }

    .specialist__content-left {
        margin-bottom: 20px;
    }

    .services-single__content {
        padding: 15px;
    }

    .contact-wrap {
        flex-direction: column;
        padding: 10px;
    }

    .contact__left {
        max-width: 100%;
        order: 2;
    }

    .contact__right {
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 730px) {
    .hero__title {
        font-size: 34px;
    }
    
    .hero__title-mini {
        font-size: 24px;
    }
}

@media only screen and (max-width: 680px) {
    .hero__title {
        font-size: 28px;
    }
    
    .hero__title-mini {
        font-size: 19px;
    }
}

@media only screen and (max-width: 576px) {
    .hero {
        background: url(/build/image/hero-back.png) center center no-repeat;
    }

    .hero__image {
        display: none;
    }

    .hero-wrap {
        padding: 235px 0 100px 0;
    }

    .hero__title,  .hero__title-mini {
        text-align: center;
    }

    .hero__btn {
        margin: 0 auto;
    }

    .hero__btn-accept {
        padding: 0 20px;
    }

    .advantage__title {
        font-size: 24px;
    }

    .about {
        margin-bottom: 20px;
    }

    .formleft__title {
        font-size: 28px;
    }

    .services {
        background: url(/build/image/services-back.png) center top no-repeat;
        background-size: contain;
    }

    .services__head {
        flex-direction: column;
        align-items: flex-start;
    }

    .services__item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .our-doctors {
        margin-bottom: 0;
    }

    .faq {
        padding-top: 0;
    }

    .footer__head {
        flex-direction: column;
    }

    .footer__menu {
        flex-direction: column;
        align-items: center;
    }

    .footer__menu-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer__contact {
        flex-direction: column;
    }

    .footer__contact-left {
        margin-bottom: 10px;
    }

    .footer__contact-right {
        text-align: center;
    }

    .footer__bottom {
        flex-direction: column;
        padding: 20px 0;
    }

    .footer__bottom-social {
        margin-bottom: 10px;
    }

    .services-single__menu-item  {
        flex: 0 0 100%; 
    }

    .specialist__content {
        padding: 15px;
    }

    .specialist__content-before {
        max-width: 140px;
    }

}



/* Portrait phones and smaller */
@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 380px) {
    .advantage {
        margin-top: -250px;
    }

    .advantage-wrap {
        background: #fff;
        padding: 20px 10px 85px 10px;
        border-radius: 30px;
    }


    .advantage__title {
        font-size: 19px;
    }

    .advantage__item {
        flex: 0 0 100%;
    }

    .footer__contact-maps {
        display: none;
    }
}


/* Iphone 5 */
@media only screen and (max-width: 320px) {

}